# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/

# Go
go.work
go.work.sum

# Frontend
frontend/node_modules/
frontend/dist/
frontend/bindings/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm

# IDE
.idea/
.vscode/
*.swp
*.swo

# env
.env

# macOS
.DS_Store

# Wails generated
build/darwin/icons.icns
build/windows/icon.ico
